<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
</head>

<body>
    <h1 class="title">About</h1>
    
    <div class="navbar">
        <a href="home.ejs">Weather</a>
        <a href="about.ejs">About</a>
        <a href="help.ejs">Help</a>
    </div>    <p class="help">The Weather App allows the user to find the current weather conditions of any area. It provides the user with the temperature, precipitation percentage and the forecast.</p>
    <p class="footer">Created by <a class="owner" href="www.linkedin.com/in/sai-chandra-lekha-behara-60a800214" target="_blank">DM</span></p>
    <div class="bottom-strap"></div>
    <script src="public/js/index.js"></script>
</body>

</html>